.banner{
  margin: 0 auto;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  background-position: bottom;
}

.banner-content{
  margin: 0 auto;
  width: 70%;
  color: white;
}

.banner h1 {
  font-size: 35px;
  text-shadow: 2px 2px #ff0000;
  margin-bottom: 40px;

}

.banner p {
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 7px black;
  font-size: 20px;

}

.banner a{
  padding:15px 30px;
  background-color: #FE0000;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
